body {
    background-color: #eee;
    color: #839496;
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 0;
}

.navbar {
    max-height: 50px;
    background-color: #ffffff;
    font-size: 15px;
}

.navigation .navbar-brand {
    color: white;
    margin-left: 10px;
    padding: inherit;
    font-weight: bold;
    background-color: rgb(20, 150, 150);
    font-family: Georgia, Times, "Times New Roman", serif;
}

.dropdown-item {
    color: #839496;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active {
    background-color: #adc7c4;
}

.nav-link:hover {
    background-color: #adc7c4;
}